.usersList {
    width: 100%;
    align-items: center;
    justify-content: center;

    .title {
        text-align: center;
    }

    .user {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .image {
            img {
                border-radius: 50%;
            }
        }

        .userInfo {
            display: flex;
            margin-left: 40px;

            .surname {
                margin-left: 5px;
            }

            .midname {
                margin-left: 5px;
            }
        }
    }
}